.input{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    display: inline-block;
    padding: 10px 10px;
    margin: 5px 5px;
    gap: 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    
}
input[type="text"] {
    padding-left: 10px; /* Adjust padding as needed */
    margin-left: 20px; /* Adjust margin as needed */
}
form label input{
    padding-left: 10px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}
.main h1{
    padding: 10px 10px;
    font-weight: 500;
    font-size: 28px;

}
.main{
    width: 500px;
    height: 400px;
    box-sizing: border-box;
    border: 1;
    border-radius: 12px;
    outline: linen;
    display: flex;
    flex-direction: column;
    background: #e3e3e3;
}