/* Navbar.css */

.navbar {
    color: black;
    padding: 10px 0;
    width: 100%; /* Ensure the navbar spans the full width of the screen */
  }
  .nav-logo:hover{  
    border-color: aqua;
  }
  .navbar-container {
    height: 10vh;
    font-size: 18px;
    border: 2px solid rgb(223, 219, 226);
    border-radius: 10px;
    background-color: rgb(211, 210, 207);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px; /* Limit the width of the navbar content to improve readability */
    margin: 0 auto; /* Center the navbar horizontally */
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .logo {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-menu {
    display: flex;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  
  .navbar-link {
    font-size: 20px;
    font-family: 500;
    color: #fff;
    text-decoration: none;
  }
  .navbar-link:hover{
    cursor: pointer;
    color: aqua;

  }
  .navbar-link img{
    border: 4px solid white;
    border-radius: 50%;
    height: 55px;
    width: 55px;
  
  }
  .navbar-link img:hover{
    border-color: aqua;
  }
  
  /* .user-icon {
    font-size: 1.2rem;
  } */
  
  /* Media Query for responsiveness */
  @media screen and (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-menu {
      margin-top: 10px;
    }
  
    .navbar-item {
      margin: 10px 0;
    }
  }
  .logo img{
    border: 4px solid white;
    border-radius: 50%;
    height: 55px;
    width: 55px;
  }
  