.quiz-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .quiz-option {
    width: 200px;
    margin: 10px;
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
  }
  
  .quiz-option:hover {
    transform: translateY(-5px);
  }
  
  .quiz-option img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    flex: 1; /* Make the image take up remaining space vertically */
  }
  
  .quiz-option h2 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .quiz-option:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  