.user-dashboard {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
  max-width: 1250px; /* This might be restricting the width */
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Ensure children stack vertically */
  align-items: center; /* Center items horizontally */
}

.user-info-container {
  width: 100%; /* Ensure full width */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  margin: 0;
  font-size: 20px;
}

.user-icon {
  cursor: pointer;
}

.user-details {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.play-option {
  margin-top: 20px;
}

.play-link {
  display: block;
  text-align: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.play-link:hover {
  background-color: #0056b3;
}
